<div class="container">
    <div class="tab_area">
       <input checked="checked" type="radio" id="tab1" name="tab" />
       <input type="radio" id="tab2" name="tab" />
       <input type="radio" id="tab3" name="tab" />
       <div class="navbar_tab">
          <label for="tab1" class="lab1">Teams </label>
          <label for="tab2" class="lab2">Result</label>
          <label for="tab3" class="lab3">Calender</label>
       </div>
       <div class="tab_content">
          <div class="tab1">
            <table class="table-live">
                   <tbody>
                      <tr class="upcoming-row">
                         <td>
                            <div class="upcoming">
                               <h2>
                                  <span>time:23°</span>
                                  North Group
                               </h2>
                               <p class="liveup">
                                  Headingley, Leeds
                                  <br />11:35 PM
                                  Local Time
                               </p>
                            </div>
                         </td>
                         <td>
                            <div class="score-content">
                               <h3 class="h-title">Derbyshire</h3>
                            </div>
                         </td>
                         <td>
                            <img
                               src="https://cricket.entitysport.com/assets/uploads/2016/03/derbyshire-120x80.jpg"
                               class
                               />
                         </td>


                         <td>
  
                            <h3 class="upcoming-h1">22:44</h3>

                         </td>


                         <td>
                            <img
                               src="https://cricket.entitysport.com/assets/uploads/2016/03/lancashire-120x80.jpg"
                               class
                               />
                         </td>
                         <td>
                            <div class="score-content">
                               <h3 class="h-title">Lancashire</h3>
                            </div>
                         </td>
                         <td>
                            <p style="    background: red;
    color: white;
    padding: 1px 9px 2px 6px;
    border-radius: 18px;" class="upcoming-date">live</p>
                         </td>
                      </tr>
                       <tr class="upcoming-row">
                         <td>
                            <div class="upcoming">
                               <h2>
                                  <span>time:23°</span>
                                  North Group
                               </h2>
                               <p class="liveup">
                                  Headingley, Leeds
                                  <br />11:35 PM
                                  Local Time
                               </p>
                            </div>
                         </td>
                         <td>
                            <div class="score-content">
                               <h3 class="h-title">Derbyshire</h3>
                            </div>
                         </td>
                         <td>
                            <img
                               src="https://cricket.entitysport.com/assets/uploads/2016/03/derbyshire-120x80.jpg"
                               class
                               />
                         </td>
                         <td>
                            <h3 class="upcoming-h1">45:21</h3>
                         </td>
                         <td>
                            <img
                               src="https://cricket.entitysport.com/assets/uploads/2016/03/lancashire-120x80.jpg"
                               class
                               />
                         </td>
                         <td>
                            <div class="score-content">
                               <h3 class="h-title">Lancashire</h3>
                            </div>
                         </td>
                         <td>
                            <p style="    background: red;
    color: white;
    padding: 1px 9px 2px 6px;
    border-radius: 18px;" class="upcoming-date">live</p>
                         </td>
                      </tr>
                   </tbody>
                </table>
          </div>
          <div class="tab2">
             <div class="test">Result Tab Content</div>
          </div>
          <div class="tab3">
             <div class="test">Calender Tab Content</div>
          </div>
       </div>
    </div>
 </div>